*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: all 800ms ease-in-out;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
  display: grid;
  place-items: center;
}
img {
  border-radius: 1.5rem;
  position: absolute;
  top: 2rem;
  width: 29.5rem;
}

.container {
  position: relative;
  top: 50%;
  transform: translate(-50% 0);
  background-color: #fff;
  max-width: 33.5rem;
  height: 55rem;
  padding: 2rem;
  border-radius: 2.5rem;
  box-shadow: 0px 10px 30px 1px rgb(187, 187, 187);
}

.title {
  position: absolute;
  left: 0rem;
  bottom: 24%;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

.text {
  position: relative;
  font-size: 1.8rem;
  top: 78%;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

/* Desktop: 1440px */

@media screen and (min-width: 1440px) {
  img {
    border-radius: 1.5rem;
    position: absolute;
    top: 2rem;
    width: 35rem;
    left: 2.5rem;
  }

  .container {
    position: relative;
    top: 50%;
    transform: translate(-50% 0);
    background-color: #fff;
    max-width: 40rem;
    height: 60rem;
    padding: 5rem;
    border-radius: 2.5rem;
    box-shadow: 0px 10px 30px 1px rgb(187, 187, 187);
  }

  .title {
    position: absolute;
    left: 0rem;
    bottom: 18%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 3.8rem;
  }

  .text {
    position: relative;
    font-size: 1.8rem;
    top: 85%;
    text-align: center;
    color: hsl(220, 15%, 55%);
  }
}
